.alternativeMessage {
    display: grid;
    background: linear-gradient(to top, #48007a, #020005);
    grid-template-columns: 300px 1fr 150px;
}

.alternativeImageLogo {
    margin: 10px;
    align-self: end;
}

.alternativeImageLogo img {
    border-radius: 50%;
    width: 100%;
}

.alternativeMessageBlock {

    margin: 20px;
    padding: 15px;
    border: maroon 5px solid;
    border-radius: 25px;
    background-color: seashell;
}

.alternativeMessageBlock .name {
    text-align: end;
    color: cornflowerblue;
    font-size: x-large;
    font-weight: bold;
}

.alternativeMessageBlock .mini_message {

}

.alternativeMessageBlock .time {
    text-align: start;
}
