.blue {
    border-bottom: 5px solid blue;
}

.backgroundMain {
    background: #908e94;
    border: goldenrod 2px solid;
    width: 250px;
    text-align: center;
    display: grid;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}